<div class="jumbotron">
  <div class="container">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple Instagram</p>
    <hr class="my-4">
    <p>By:Ali</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/profiles/new" role="button">Create Profile</a>
      <br>
      <a class="btn btn-primary btn-lg" href="/posts/new" role="button">Add Post</a>
    </p>
  </div>
</div>
